/* * {
    background-color: #f7e4cb;
} */

;

/* COLOURS 
DUSKY PURPLE - #997c9b
LILAC - #c7b6c8
ROSE BUD - #eabfbd
ROSE FOG - #f9dcd0
GIVERY - #f7e4cb
*/

nav .container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.navbar-nav {
    
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
    
}

.mynav {
    background-color: #997c9b;
}
.nav-position {
    left: 50px;
}

.card {
    background-color: #f9dcd0;
    min-height: ;
}

.work-card {
display: flex;
flex-direction: row;
justify-content:space-around;
align-items: flex-start;
}


footer .card .card-header {
    background-color:#997c9b;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 580px) {
    footer .card .card-header {
        background-color: blue;
        flex-direction: column;
    }
}

.foot {
    background-color: #c7b6c8;
    border-top: 10px #997c9b;
}
.btn-outline-dark {
    /* background-color: #eabfbd; */
    border-top: 10px #997c9b;
}

